.video{
    display: flex;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center;
    background-image: url(../img/Under\ Armour\ HOVR\ Phantom\ 2\ \ Foot\ Locker.mp4);
    background-position:center;
    width: 100%;
}